
/*<img src="assets/images/pasta-fresca.jpg">
	<img src="assets/images/catering.jpg">
	<img src="assets/images/gallery.jpg">
*/

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 941px;
	height: 259px;
	background-color: red;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

	&__element {
		width: 32%;
		height: 100%;
		background-color: blue;
	}

}